*{margin: 0;padding: 0;}
#warp{width:770px;margin:0 auto;background: #eff9f9;}
#header{
	width:100%;
	background: url(../images/banner.gif) no-repeat;
	height:92px;text-align:right;
	border:4px solid #badbdb;
}
#mainbody{width:100%;}
#footer{width:100%;}
.book img{border:1px solid #b1adaa;margin:10px 18px;}
.book{
	background:url(../images/t_book.gif) no-repeat #eff9f9;
	padding:49px 15px 15px;
}
h2{marin-bottom:5px;}
p{margin-bottom:5px;text-indent:2em;}